*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main , inner-main{
    height: 60vh;
}

/* button{
    display: flex;
    text-align: center;
    width: 30%;
    margin: auto;
    height: 2rem;
} */







